@media (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    overscroll-behavior-x: none;
    touch-action: pan-y;
    overflow: auto;
    pointer-events: none;
  }
  .headbar {
    top: 0;
    background-image: url("../img/comunity_mobile.JPEG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  .start,
  .tags a {
    display: none;
  }

  nav {
    height: 100%;
  }

  .burger {
    display: flex;
  }
  .tags {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    width: 200px;
    padding: 10px;
  }
  .tags.active {
    display: flex;
  }
  .txt-about-fest {
    width: 100%;
    padding: 0px 10px;
  }
  .bubles,
  .bubles-schedule {
    display: none; /* или переставить их внутрь контейнера */
  }
  .hero-wrapper {
    width: 100%;
  }
  .picture-buclet {
    display: none;
  }
  .container-txt {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .icons-fon {
    width: 18vw;
  }

  .about-fest {
    height: 110vh;
    background: linear-gradient(
      179deg,
      rgba(77, 161, 161, 1) 0%,
      rgb(255, 255, 255) 100%
    );
  }

  .icons-div {
    gap: 20px;
    width: 33vw;
    white-space: normal;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  .icons-txt {
    margin: 0;
    font-size: 90%;
  }

  .events {
    display: flex;
    justify-content: center;
    pointer-events: auto;
    height: fit-content;
    padding: 20px;
  }

  .events-txt {
    display: flex;
    justify-content: center;
  }

  .images {
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }

  .image {
    flex: none;
    height: 8vh;
    border-radius: 15px;
    transition: height 0.4s ease;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
  }

  .image.active {
    height: 45vh;
  }

  .image span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    text-align: center;
    width: 90%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 5px;
    border-radius: 10px;
  }

  .image.active span {
    opacity: 1;
  }

  .schedule-txt {
    display: none;
  }
  .schedule-div {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .schedule-place,
  .schedule-date,
  .schedule-time {
    text-align: center;
  }
  .schedule {
    padding: 20px;
    gap: 20px;
    height: fit-content;
    pointer-events: auto;
    flex-direction: column;
  }

  .pic-schedule {
    width: 85%;
  }

  .schedule-heading {
    text-align: center;
  }

  .schedule-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
    margin-top: 3%;
    width: 55%;
    height: 7vh;
  }
}
